.layout {
  height: 100vh;
  padding: 5px 5px;
  overflow: hidden;
}

.header {
  height: 3.5rem;
  background-color: black;
  color: rgba(255, 255, 255, 0.681);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 22px;
  overflow: hidden;
}

.header img {
  width: 5rem;
  cursor: pointer;
}

.header button {
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.header Dropdown a {
  text-decoration: none !important;
}

.header h1 {
  cursor: pointer;
}

.content {
  height: calc(100vh - 4.5rem);
  border: 1px solid gray;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 0 0 3px gray;
  padding: 10px;
  background-color: white;
  overflow-x: hidden;
}

.col-md-4 {
  display: flex;
  align-items: center;
}

.home {
  height: 100%;
}

.text p {
  text-align: center;
}

.btn-block {
  width: 100%;
}

.btn-user {
  height: max-content !important;
  text-transform: capitalize !important;
  background-color: #656565 !important;
}

.btn-guest {
  margin-bottom: 10px;
  background-color: #887e7e !important;
}

.btn-register {
  margin-bottom: 10px;
}

.btn-block:hover {
  background-color: #716a6a !important;
}
