.layout {
  height: 100vh;
  padding: 20px 50px;
}

.header {
  height: 15%;
  background-color: black;
  color: rgba(255, 255, 255, 0.681);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 22px;
  overflow: hidden;
}

.header img {
  height: 150px;
  width: 150px;
  cursor: pointer;
}

.header button {
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.header Dropdown a {
  text-decoration: none !important;
}

.header h1 {
  cursor: pointer;
}

.footer {
  margin: 20px 0 20px 0;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  height: 87%;
  border: 1px solid gray;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 3px gray;
  padding: 10px;
  background-color: white;
}

.btn-block {
  width: 100%;
}

.btn-user {
  height: max-content !important;
  text-transform: capitalize !important;
  background-color: #656565 !important;
}

.btn-guest {
  margin: 10px 0;
  background-color: #887e7e !important;
}

.btn-register {
  margin-bottom: 10px;
}

.btn-block:hover {
  background-color: #716a6a !important;
}