.layout {
  display: grid;
  grid-template-columns: 260px 1fr;
  height: 100vh;
  background-color: var(--neutral-100);
  transition: grid-template-columns 0.3s ease-in-out;
}

.layout.collapsedLayout {
  grid-template-columns: 80px 1fr;
}

.layout.mobileMenuOpen {
  grid-template-columns: 1fr;
}

.sidebar {
  background-color: var(--neutral-900);
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  transition: width 0.3s ease-in-out;
}

.sidebarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  overflow: hidden;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  white-space: nowrap;
}

.logo img {
  height: 40px;
  width: 40px;
  min-width: 40px;
}

.collapseButton {
  background: none;
  border: none;
  color: var(--neutral-300);
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.2s;
  display: block;
}

.collapseButton:hover {
  color: #fff;
}

.sidebar.collapsedSidebar .sidebarHeader {
  justify-content: center;
}

.sidebar.collapsedSidebar .logo span {
  display: none;
}

.sidebar.collapsedSidebar .collapseButton {
  margin-left: auto;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  color: var(--neutral-300);
  font-weight: 500;
  transition: background-color 0.2s, color 0.2s, padding 0.3s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar.collapsedSidebar .navItem {
  justify-content: center;
  padding: 0.8rem 0;
  color: white;
}

.sidebar.collapsedSidebar .navItem span {
  /* display: none; */
}

.navItem:hover {
  background-color: #374151;
  color: #fff;
}

.navItem.active {
  background-color: var(--primary-500);
  color: #fff;
  font-weight: 600;
}

.navItem .anticon {
  font-size: 1.2rem;
  min-width: 24px;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--neutral-700);
  white-space: nowrap;
  overflow: hidden;
  transition: justify-content 0.3s ease-in-out;
}

.sidebar.collapsedSidebar .userInfo {
  justify-content: center;
}

.sidebar.collapsedSidebar .userDetails {
  display: none;
}

.userDetails {
  display: flex;
  flex-direction: column;
}

.userName {
  font-weight: 600;
}

.logout {
  color: var(--neutral-300);
  cursor: pointer;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logout:hover {
  color: var(--secondary-500);
}

.mainContent {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.header {
  padding: 1.5rem 2rem;
  background-color: #fff;
  border-bottom: 1px solid var(--neutral-300);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.header h1 {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
  color: var(--neutral-900);
}

.mobileMenuButton {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--neutral-700);
}

.content {
  padding: 2rem;
}

@media (max-width: 768px) {
  .layout {
    grid-template-columns: 1fr;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: -260px;
    height: 100vh;
    z-index: 1000;
    width: 260px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease-in-out;
  }

  .layout.mobileMenuOpen .sidebar {
    left: 0;
  }

  .sidebar .collapseButton {
    display: none;
  }

  .mainContent .header .mobileMenuButton {
    display: block;
  }

  .layout.collapsedLayout {
    grid-template-columns: 1fr;
  }

  .logo span,
  .navItem span,
  .userDetails {
    display: block;
  }
}
