.privacy-parent {
  height: "auto";
  min-height: "100vh";
  padding: "40px 0";
}

.privacy-child {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.privacy-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.privacy-content {
  line-height: 1.6;
  color: #333;
}

.privacy-content,
h3 {
  margin-top: 20px;
}

.privacy-parent p {
  font-size: 14px;
}
