.resume-customization-panel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* gap: 1rem;  */
  width: fit-content;
  align-content: center;
  margin: auto;
}

.options-section {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-button {
  border-radius: 5px;
  margin-left: 3rem;
}
