.main {
  max-width: 1080px;
  display: flex;
  flex-direction: row;
  gap: 1rem;}

@media (max-width: 768px) {
  .main {
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
