@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@200;400&family=Sacramento&display=swap");

html {
  scroll-behavior: smooth;
}

:root {
  --primary-500: #2563eb;
  --secondary-500: #14b8a6;

  --neutral-900: #111827;
  --neutral-700: #374151;
  --neutral-300: #d1d5db;
  --neutral-100: #f3f4f6;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  background-color: #f0f4f8 !important;
}

.btn-primary {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: "Roboto", arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color 0.218s, border-color 0.218s,
    box-shadow 0.218s;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  max-width: 400px;
  min-width: min-content;
}

.btn-primary:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.btn-primary .btn-primary-state {
  -webkit-transition: opacity 0.218s;
  transition: opacity 0.218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.btn-primary:disabled {
  cursor: not-allowed;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.btn-primary:disabled .btn-primary-contents {
  opacity: 38%;
}

.btn-primary:not(:disabled):active .btn-primary-state,
.btn-primary:not(:disabled):focus .btn-primary-state {
  background-color: #303030;
  opacity: 12%;
}

.btn-primary:not(:disabled):hover .btn-primary-state {
  background-color: #303030;
  opacity: 8%;
}

.btn-secondary {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: rgba(47, 43, 43, 0.818);
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: WHITE;
  cursor: pointer;
  font-family: "Roboto", arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color 0.218s, border-color 0.218s,
    box-shadow 0.218s;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  max-width: 400px;
  min-width: min-content;
}

.btn-secondary:not(:disabled):hover {
  background-color: rgba(77, 73, 73, 0.9);
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.btn-secondary .btn-secondary-state {
  -webkit-transition: opacity 0.218s;
  transition: opacity 0.218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.btn-secondary:disabled {
  cursor: not-allowed;
  background-color: rgba(47, 43, 43, 0.4);
  border-color: #1f1f1f1f;
  color: WHITE;
}

.btn-secondary:disabled .btn-secondary-contents {
  opacity: 38%;
}

.btn-secondary:not(:disabled):active .btn-secondary-state,
.btn-secondary:not(:disabled):focus .btn-secondary-state {
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 12%;
}

.btn-secondary:not(:disabled):hover .btn-secondary-state {
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 8%;
}

input,
textarea {
  outline: none !important;
  box-shadow: none !important;
  border: gray solid 1px !important;
  border-radius: 5px !important;
  height: 40px !important;
}

textarea {
  height: 100px !important;
  resize: none !important;
}

input:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
}

.ant-spin {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: 10 !important;
}

.ant-btn-dashed {
  color: grey !important;
  background-color: white !important;
  border: 1px dashed grey !important;
  width: 200px !important;
  border-radius: 5px !important;
}

.ant-message {
  padding: 25px !important;
}

.ant-message-notice {
  font-size: 17px !important;
}

.passwd-field {
  border: 1px solid gray;
  padding: 0;
  border-radius: 5px;
  > input {
    padding: 4px 11px !important;
    height: 40px;
    border: none !important;
  }
}

.passwd-field svg {
  margin-right: 20px;
}

.home-alert-banner {
  > button {
    > span {
      background-color: white;
    }
  }

  .home-alert-banner-btn {
    background: #1677ff !important;
    border-radius: 5px !important;
  }

  .home-alert-banner-btn:hover {
    background: #559cff !important;
  }
}
